wu-workshop {
  position: relative;
  width: 960px;
  height: 600px;
  display: grid;
  grid-template-columns: 360px 360px 240px;
  grid-template-rows: 1fr 7fr 120px;
  grid-template-areas: "a b e" "a b c" "d d d";
  transition: opacity 1s;
}
wu-workshop img {
  object-fit: contain;
}


wu-item-slot {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 110px;
  height: 110px;
}
wu-item-slot img {
  position: absolute;
  display: block;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
}


wu-modules-setup {
  grid-area: d;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-areas: 'a b c d e f g h';
}


wu-parts-setup {
  grid-area: a;
  display: grid;
  grid-template-columns: 33.333333% 33.333333% 33.333333%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
    "g i h"
    "e a f"
    "c b d"
    "j k l";
}


wu-mech-summary {
  grid-area: c;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 230px;
  height: 410px;
}
wu-mech-summary wu-stat-block-quoted {
  height: calc(100% / 9);
  width: 100%;
}


wu-button {
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
wu-button img {
  position: relative;
  display: block;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
}
wu-button:hover {
  -webkit-filter: contrast(0.9) brightness(1.1);
  filter: contrast(0.9) brightness(1.1);
}


#plus-button {
  grid-area: e;
  width: 230px;
  height: 50px;
  margin: 5px;
  border: none;
}


c1 {
  color: #6F8;
}


hitbox {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}


wu-floating-info {
  position: fixed;
  display: block;
  border: 2px solid var(--c-text);
  border-radius: calc(0.6vw + 0.6vh) 0;
  background-color: rgba(0, 0, 10, 0.9);
  z-index: 9999;
  padding: 6px;
  max-width: 260px;
}

wu-floating-info text {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  display: block;
  text-align: center;
}


.item-mask {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: blueviolet;
  /*-webkit-mask: url() no-repeat center;
  mask: url() no-repeat center;*/
}
/*
.item-mask {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 1;
  mix-blend-mode: overlay;
  filter: brightness(0.5) hue-rotate(0deg) saturate(0);
}
*/

.outline {
  -webkit-filter: drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000);
  filter: drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000);
}


.box {
  border-radius: calc(0.6vw + 0.6vh) 0;
  /*margin: calc(0.4vw + 0.4vh);*/
  background-color: rgba(0, 0, 10, .8);
}

.border {
  border: 2px solid var(--c-text);
}

.ui {
  z-index: 200;
}

.tab {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 300;
}


wu-select-item-tab {
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-rows: 1fr 260px 1fr 45% 1fr;
  grid-template-areas:
    ". . ."
    ". b ."
    ". . ."
    ". a ."
    ". . .";
}
wu-select-item-tab item-list {
  grid-area: a;
}


item-list {
  position: relative;
  display: block;
  border-radius: calc(0.6vw + 0.6vh) 0;
  background-image: linear-gradient(rgba(5, 5, 15, 1), rgba(0, 0, 0, 0));
  overflow-y: scroll;
  padding-bottom: 1%;
}
item-list wu-item-block {
  display: inline-block;
  margin: 1% 0 0 1%;
  width: 8%;
  padding-top: 8%;
}


wu-item-data-panel {
  grid-area: b;
  display: grid;
  grid-template-columns: 430px 270px;
  grid-template-rows: 20% 80%;
  grid-template-areas: 'a c' 'b c';
  border-radius: calc(0.6vw + 0.6vh) 0;
  background-color: rgba(5, 5, 15, 0.5);
  border: calc(0.2vw + 0.2vh) solid #113;
}
wu-item-data-panel > name {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
wu-item-data-panel > img {
  position: relative;
  grid-area: b;
  left: 15%;
  top: 5%;
  width: 70%;
  height: 70%;
}


wu-summary {
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 260px;
}
wu-summary wu-stat-block {
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 125px;
  height: 25px;
  margin: 2.5px;
  background-color: rgba(0, 0, 0, 0.5);
}
wu-summary wu-stat-block img.icon {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  margin: 2.5%;
}
wu-summary wu-stat-block div.text {
  position: relative;
  display: block;
  height: 0;
  margin: 5px 0 0 0;
  line-height: 0;
}

wu-stat-block-quoted {
  display: grid;
  position: relative;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  grid-template-areas: "a b";
}
wu-stat-block-quoted img {
  grid-area: a;
  display: block;
  position: relative;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
}
wu-stat-block-quoted value {
  grid-area: b;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 5%;
}
wu-stat-block-quoted quote {
  display: flex;
  position: absolute;
  align-items: center;
  top: 50%;
  right: 5%;
  line-height: 0;
  color: #66FF88;
}

/*
wu-item-data-panel wu-bar-based-sum {
  grid-area: c;
  width: 99%;
  height: 100%;
}
wu-item-data-panel wu-bar-based-sum-bar {
  height: 8.33%;
}

wu-bar-based-sum {
  display: flex;
  flex-direction: column;
  border-left: calc(0.2vw + 0.2vh) solid #113;
}
wu-bar-based-sum-bar {
  position: relative;
  display: grid;
  height: 26px;
  grid-template-columns: 15% 85%;
  grid-template-areas: "a b";
  white-space: nowrap;
  border-bottom: calc(0.1vw + 0.1vh) solid #080824;
  background-color: rgba(0, 0, 0, 0.8);
}
wu-bar-based-sum-bar img {
  grid-area: a;
  position: relative;
  width: 90%;
  height: 90%;
}
wu-bar-based-sum-bar val {
  z-index: 1;
}
wu-bar-based-sum-bar val {
  position: absolute;
  left: 16%;
  top: 50%;
  line-height: 0;
}
wu-bar-based-sum-bar bar {
  position: relative;
  display: block;
  top: 5%;
  height: 90%;
  background-image: url(../img/general/bar-frame.svg);
  background-size: auto 100%;
}
*/


wu-item-block {
  position: relative;
  border-radius: calc(0.6vw + 0.6vh) 0;
  background-color: rgba(0, 0, 0, 0.4);
}
wu-item-block.active,
wu-item-block:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-filter: brightness(1.3);
  filter: brightness(1.2);
  transform: scale(1.05);
}
wu-item-block img {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
}


wu-item-slot:hover {
  background-color: rgba(0, 0, 30, 0.8);
  cursor: pointer;
}


wu-mech-display {
  position: relative;
  display: block;
  grid-area: b;
}
wu-mech-display parts-container-wrapper {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 94%;
  padding: 0;
  margin: 0;
}
wu-mech-display input[type=text] {
  position: absolute;
  display: block;
  background: none;
  background-image: linear-gradient(90deg, transparent 10%, rgba(0, 0, 10, 0.8) 30%, rgba(0, 0, 10, 0.8) 70%, transparent 90%);
  border: none;
  font: inherit;
  color: inherit;
  width: 100%;
  left: 0;
  top: 5%;
  text-align: center;
}
wu-mech-display input[type=range] {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  margin-top: calc(0.4vw + 0.4vh);
  z-index: 200;
}
wu-mech-display mech-parts {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
wu-mech-display mech-parts mech-part {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}
wu-mech-display mech-parts mech-part:hover {
  -webkit-filter: brightness(1.5) contrast(0.9);
  filter: brightness(1.5) contrast(0.9);
}


wu-plus-n-settings-tab {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}


wu-plus-n-settings-tab content-wrapper {
  position: relative;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
wu-plus-n-settings-tab content-wrapper > * {
  width: 250px;
  height: 30px;
  margin: 5px;
}
wu-plus-n-settings-tab content-wrapper wu-button {
  height: 50px;
}
wu-plus-n-settings-tab content-wrapper wu-button.close {
  display: none;
  width: 50px;
  background-color: #660000;
}


wu-create-item-tab {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
wu-create-item-tab step-1-content-wrapper,
wu-create-item-tab step-2-content-wrapper {
  position: relative;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 85%;
  height: 85%;
  max-width: 400px;
  max-height: 600px;
  padding: 10px;
}
wu-create-item-tab step-1-content-wrapper input[type=text] {
  min-width: 60%;
}
wu-create-item-tab step-1-content-wrapper img.img-preview {
  max-width: 200px;
  max-height: 150px;
}
wu-create-item-tab step-1-content-wrapper wu-button.continue-btn {
  width: 50px;
  height: 50px;
}
wu-create-item-tab step-1-content-wrapper select:last-of-type {
  border-radius: 0 0 calc(0.6vw + 0.6vh) 0;
}
wu-create-item-tab step-2-content-wrapper stat-input-blocks-container {
  position: relative;
  display: block;
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 100px);
}
wu-create-item-tab step-2-content-wrapper wu-button.continue-btn {
  width: 50px;
  height: 50px;
}


stat-input-block {
  position: relative;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
stat-input-block img {
  width: 26px;
  height: 26px;
}
stat-input-block input[type=number] {
  width: 70px;
  margin: 5px;
}
stat-input-block wu-switch-button {
  margin: 5px;
}

select {
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: calc(0.6vw + 0.6vh) 0 0 0;
  background-color: #DDD;
  color: rgb(0, 0, 0);
}


input[type=text],
input[type=number] {
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: #DDD;
  color: rgb(0, 0, 0);
}


.switch-container {
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
}
.switch-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.switch-container switch-context {
  margin-left: 5px;
  white-space: nowrap;
}


wu-custom-items-tab {
  display: grid;
  grid-template-columns: 1fr 300px 100px 300px 1fr;
  grid-template-rows: 1fr 100px 1fr 45% 0.5fr;
  grid-template-areas:
    ". . . . ."
    ". . b . ."
    ". . . . ."
    ". a a a ."
    ". . . . .";
}
wu-custom-items-tab item-list {
  grid-area: a;
}
wu-custom-items-tab wu-button {
  grid-area: b;
}


input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: none;
  outline: none;
  border: none;
  opacity: 0.8;
}
input[type=range]:focus,
input[type=range]:hover { opacity: 1 }
input[type=range]::-webkit-slider-runnable-track {
  margin: calc(0.4vw + 0.4vh);
  border-radius: 100vh;
  background: var(--c-text);
  border: none;
  overflow: hidden;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 100%;
  width: 0;
  padding-left: 20%;
  border-radius: 100vh;
  background: rgba(0, 0, 20, .9);
  border: none;
  cursor: pointer;
}
input[type=range]::-moz-range-track {
  margin: calc(0.4vw + 0.4vh);
  border-radius: 100vh;
  background: var(--c-text);
  border: none;
  overflow: hidden;
}
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 100%;
  width: 0;
  padding-left: 20%;
  border-radius: 100vh;
  background: rgba(0, 0, 20, .9);
  border: none;
  cursor: pointer;
}



@media screen and (orientation : portrait), screen and (max-width : 960px) {

  wu-summary {
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: unset;
    width: 100%;
  }

  wu-item-slot,
  #plus-button,
  wu-mech-summary {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }

  wu-floating-info {
    display: none;
  }
  
  wu-workshop {
    width: 100%;
    height: 100%;
    grid-template-rows: 14% 14% 58% 14%;
    grid-template-columns: 4fr 1.25fr 25%;
    grid-template-areas:
      "a a e"
      "a a e"
      "b b c"
      "d d d";
  }
  
  wu-parts-setup {
    grid-template-rows: 50% 50%;
    grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
    grid-template-areas:
      "e a f g i h"
      "c b d j k l";
  }
  
  wu-select-item-tab {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "b"
      "a";
  }

  item-list,
  wu-select-item-tab wu-item-data-panel {
    border-radius: 0;
    grid-template-columns: 60% 40%;
  }

  item-list wu-item-block {
    width: 13.13%;
    padding-top: 13.13%;
  }

  wu-plus-n-settings-tab {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  wu-plus-n-settings-tab content-wrapper {
    width: 85%;
    height: 85%;
    max-width: 400px;
    max-height: 600px;
  }

  wu-plus-n-settings-tab content-wrapper wu-button.close {
    display: block;
  }

  @media screen and (max-width : 550px) {
    wu-workshop {
      width: 100%;
      height: 100%;
      grid-template-columns: 50% 12.5% 12.5% 25%;
      grid-template-rows: 14% 14% 58% 14%;
      grid-template-areas:
        "a a a e"
        "a a a e"
        "b b c c"
        "d d d d";
    }
  }

  @media screen and (max-width : 480px) {
    @media screen and (min-height : 650px) {
      wu-workshop {
        grid-template-columns: 62.5% 37.5%;
        grid-template-rows: 20% 10% 50% 20%;
        grid-template-areas:
          "a a"
          "b e"
          "b c"
          "d d";
      }


      wu-modules-setup {
        grid-template-rows: 50% 50%;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas: 'a b c d' 'e f g h';
      }
    }
  }
}
